header
  nav#menu.menu
    a.logo-container(href='#')
      p(style="font-weight:700; color: #fff; font-size: 20px;") LOGO
    ul.menu-ul
      li.menu-li
        a.menu-a(href='#') Home
      li.menu-li
        a.menu-a(href='#') Serviços
      li.menu-li
        a.menu-a(href='#') Quem somos
      li.menu-li
        a.menu-a(href='#') FAQ
      li.menu-li
        a.menu-a(href='#') Contato
    //- a.fale-conosco(href="https://api.whatsapp.com/send/?phone=5524999042677", target="_blank")
    //-   img(src="assets/img/icon-whatsapp.svg", alt="icone do whatsapp") 
    //-   p Fale conosco
    button#toggle-icon.menu-toggle(aria-label='abrir menu' aria-controls="menu-noticias" aria-expanded="false")
      .bars
  